<section class="container mx-auto py-8 px-6">
  <h2 class="text-xl font-bold mb-4 text-center">Shop by Category</h2>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    @for (category of categories; track category.name) {
      <a href="{{ category.link }}" class="block transition hover:-translate-y-1 duration-300">
        <div class="relative pb-[100%] overflow-hidden">
          <img src="{{ category.image }}" alt="{{ category.name }}" class="absolute w-full h-full object-cover">
        </div>
        <div class="text-center mt-2 font-medium">{{ category.name }}</div>
      </a>
    }
  </div>
</section>
