<section class="container mx-auto py-8 px-6">
  <h2 class="text-xl font-bold mb-4 text-center">
    {{ title }}
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 justify-items-center">
    @for (product of products; track product.id) {
      <div class="bg-gray-100 p-4 w-full max-w-[200px] transition-transform hover:-translate-y-1 duration-300">
        <a href="{{ product.link }}" class="block">
          <div class="relative aspect-square overflow-hidden">
            <img src="{{ product.image }}" alt="{{ product.name }}" class="w-full h-full object-cover">
          </div>
          <div class="mt-2 text-center">
            <h3 class="font-medium">{{ product.designer }}</h3>
            <p class="text-sm">{{ product.name }}</p>
            <p class="font-bold">${{ product.price }}</p>
          </div>
        </a>
      </div>
    }
  </div>
</section>
